@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px auto;
  width: 1500px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin: 0 auto;
  font-size: 16px;
}

form, .calendar-container {
  margin: 0 auto;
  /* outline */
  padding: 1em;
  border: 1px solid #120930;
  border-radius: 1em;
}

form {
  width: 400px;
}

.calendar-container {
  width: 1100px;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1em;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  margin-bottom: 0.5em;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #120930;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

select {
  margin-left: 0.25em;
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1500px;
  margin: 0 auto;
}

.events-container {
  display: block;
}

table, th, td, tr {
  border: 1px solid black;
  border-collapse: collapse; 
}

th, td {
  padding: 8px;
}

