@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #9EAFDC;
  --secondary-color: #120930;
  --third-color: rgb(191 219 254);
}

* {
  box-sizing: border-box;
}

.title-container {
  background-color: rgb(191 219 254);
  padding: 50px;
}

.footer-wrapper {
  background-color: var(--third-color);
}

.footer {
  background: var(--third-color);
  padding: 25px 0;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-auto-rows: max-content;
  column-gap: 40px;
  row-gap: 20px; 
  margin: 0 auto;
  width: max-content;
}

.contact-text p {
  font-size: 16px;
}

.grid-container {
  height: max-content;
  padding: 50px 0;
}

/* on small screens, only have one column*/
.grid-div {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-auto-rows: max-content;
  column-gap: 40px;
  row-gap: 20px; 
  margin: 20px auto;
  width: max-content;
}

.text-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.text-grid div {
  margin-bottom: 20px;
}

.about-grid {
  display: grid;
  width: fit-content;
  margin: 50px auto;
  grid-template-columns: repeat(3, 400px);
  column-gap: 25px;
  row-gap: 20px;
}

.about-grid div img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.founder-grid {
  background-color: var(--third-color);
  display: grid;
  margin: 50px auto;
  width: 70%;
  grid-template-columns: 1fr 2fr;
  column-gap: 25px;
}

.headshot {
  border: 2px solid black;
}

ul {
  list-style: disc;
}

p {
  font-size: 1.2rem;
  text-wrap: balance;
}

.event-div div {
  border: 1px var(--secondary-color) solid;
  background-color: var(--third-color);
  border-radius: 10px;
}

.upcoming-container {
  height: max-content;
  background-color: #f7f7f7;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table, tr, td, th {
  border: 1px solid rgb(191 219 254);
}

th, td {
  padding: 0.25rem 1rem;
}

th {
  color: white;
  background-color: var(--secondary-color);
}

td {
  color: var(--secondary-color);
}

/* for components - untailwinding */

button {
  cursor: pointer;
  width: max-content;
}

.react-icons {
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.shadow {
  box-shadow: 0 4px 6px -1px rgb(148, 145, 145), 0 2px 4px -2px rgb(148, 145, 145);
}

.centered-text {
  width: 90%;
  margin: 0 auto;
}

.title-banner {
  width: 100%;
  padding: 1.25rem;
  margin: 0 auto;
  background-color: white;
  font-weight: 600;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
}